 /* .search{
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: row;
    left: 470px;
 }
 .btn5{
    margin-left: 5px;
    background-color: transparent;
    color: white;
 }
 .btn5:hover{
    background-color: rgba(83, 85, 92, 0.717);
 }
 .b{
    color: white;
 } */
 .btn6{
    background-color: rgb(1, 100, 100);
    color: white;
     margin-left: 105px;
 }
 .btn6:hover{
    background-color: rgb(6, 157, 157);
    color: rgb(0, 0, 0);
 } 
 .all{
   /* background-image:  url('https://t4.ftcdn.net/jpg/02/67/61/63/360_F_267616380_QoPhbL7PL50JdxR9dva9yyZ46yXnYsfo.webp'); */
   /* margin: 0 auto;
   padding: 2rem; */
   color: white;
   background-size: cover;
   background-position: fixed;
   background-repeat: no-repeat;

 }
.card1{
   background-color: white;
   border: 1px white;
   box-shadow: 1px 1px 5px rgb(0, 0, 0);
   margin-top: 10px;
}
 