.register{
    
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem;
    color: white;
    height: 100vh;
    background-image: url('BLUE.png');
    background-size: cover;
    background-position: fixed;
}
.d1{
   display: flex;
   justify-content: center;
   margin-top: 60px;
}
.mb-2,.link, .hh{
   font-size: smaller;
}
.link, .hh{
    margin-top: 7px;
}
.form{
    background-color: rgba(0, 53, 62, 0.719);
    box-shadow: 1px 1px 5px rgb(45, 45, 45);
    padding: 30px 32px;
    width: 30%;
    text-align: center;
}
.btn{
    background-color: rgb(56, 201, 199);
    border: none;
    color: rgb(0, 0, 0);
}
.btn:hover{
    background-color: rgb(3, 110, 126);
    color: white;
}

.link{
    color: white;
    text-decoration-line: none;
}
.link:hover{
   color: rgb(0, 0, 0);
}